@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Bebas+Neue&family=Archivo+Black&display=swap');

* {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05em;
}

.font-japan {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
    color: white;
    padding: 0px 20px;
}

.logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    color: cyan;
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.hero {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
    padding: 50px;
}

/* Wrapper gambar agar circle di belakangnya */
.hero-image-wrapper {
    position: relative;
    width: fit-content;
}

/* Gambar paling depan */
.hero img {
    position: relative;
    z-index: 10;
    width: 280px; /* sesuaikan */
}

/* Lingkaran belakang */
.circle {
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.circle.small {
    width: 120px;
    height: 120px;
    background: red;
    top: 40%;
    left: 20%;
    /* filter: blur(15px); */
}

.circle.big {
    width: 300px;
    height: 300px;
    background: #ccc;
    top: -20%;
    left: -10%;
    /* filter: blur(25px); */
}

.caption {
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    gap: 1rem;
}

.caption h1 {
    font-size: 3rem;
}

.caption h4 {
    font-size: 1.2rem;
    opacity: 0.6;
}
