@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&family=Bebas+Neue&family=Archivo+Black&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-japan {
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 0;
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style: none;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 0.05em;
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
}

nav a {
    color: white;
}

.nav__logo a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav__header {
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.nav__menu__btn {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.nav__links a:hover {
    color: cyan;
}

header {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__image img{
    width: 20em;
    height: 100vh;
    object-fit: cover;
}

.header__content {
    padding: 3.5em;
}

.header__content h2 {
    font-size: 1.2em;
    font-weight: 500;
}

.header__content h1 {
    font-size: 3em;
    font-weight: bold;
}

.header__content p {
    margin-bottom: 1.2rem;
}

.header__btn button {
    padding: 1em 1.5em;
    border: none;
    font-weight: bold;
    color: white;
    background-color: black;
    border-radius: 1em;
    margin-bottom: 2em;
}

.header__btn button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.header__socials {
    display: flex;
    gap: 1em;

}

.header__socials a {
    color: white;
    background-color: black;
    padding: 8px 10px;
    border-radius: 100%;
}

.header__socials a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (width > 768px) {
    .nav__menu__btn {
        display: none;
    }

    .nav__links {
        position: static;
        flex-direction: row;
        padding: 1rem;
        width: fit-content;
    }
}

@media(width < 768px) {
    .nav__links {
        display: none;
    }

    .nav__links.open {
        transform: translateY(100%);
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(12px);
        flex-direction: column;
        display: flex;
        padding: 2rem;
    }

    .nav__links.open a {
        display: block;
    }

    .nav__links a {
        display: none;
    }

    header {
        flex-direction: column;
    justify-content: end;
        background-image: url(assets/header.jpeg);
    }

    .header__image {
        display: none;
    }
}